<div class="container main-container">
	<div class="users-show">
		<div class="col-md-3 box" style="padding: 15px 15px;">
			<div class="padding-md">
				<div class="list-group text-center">

					<a href="/user/editInfo/{{var.uid}}" class="list-group-item active">
						<i class="text-md fa fa-list-alt" aria-hidden="true"></i>
						&nbsp;个人信息
					</a>
					<a href="/user/editAvatar/{{var.uid}}" class="list-group-item ">
						<i class="text-md fa fa-picture-o" aria-hidden="true"></i>
						&nbsp;修改头像
					</a>
				</div>
			</div>
		</div>

		<div class="main-col col-md-9 left-col">

			<div class="panel panel-default padding-md">

				<div class="panel-body ">

					<h2><i class="fa fa-cog" aria-hidden="true"></i> 编辑个人资料</h2>
					<hr>


					<form class="form-horizontal" method="POST" action="/user/editInfo" accept-charset="UTF-8" enctype="multipart/form-data">
						<input name="_method" type="hidden" value="PATCH">
						<input type="hidden" name="_token" value="ssuyKq3fE1QbTGBuODV6gROnwB4vMqIQhrMySNwB">

						<div class="form-group">
							<label for="" class="col-sm-2 control-label">邮 箱</label>
							<div class="col-sm-6">
								<input class="form-control" name="email" type="text" value="{{var.data["email"]}}">
							</div>
							<div class="col-sm-4 help-block">
							</div>
						</div>

						<div class="form-group">
							<label for="" class="col-sm-2 control-label">用户名</label>
							<div class="col-sm-6">
								<input class="form-control" name="username" type="text" value="{{var.data["username"]}}">
							</div>
							<div class="col-sm-4 help-block">
							</div>
						</div>

						<div class="form-group">
							<label for="" class="col-sm-2 control-label">个人简介</label>
							<div class="col-sm-6">
								<textarea class="form-control" rows="3" name="description" cols="50">{{var.data["description"]}}</textarea>
							</div>
							<div class="col-sm-4 help-block">
								请一句话介绍你自己，大部分情况下会在你的头像和名字旁边显示
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-6">
								<input class="btn btn-primary" id="user-edit-submit" type="submit" value="应用修改">
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>


	</div>
</div>
