<form class="form-signin" role="form" method="POST" enctype="application/x-www-form-urlencoded" action="/login">
	<h2>
		Please sign in  
		<a href="/register?service={{var.service}}">register</a>
	</h2>
	<input type="hidden" id="service" name="service" value="{{var.service}}">
	<input type="username" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
	<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
	<div class="checkbox">
		<label>
			<input type="checkbox" value="remember-me"> Remember me
		</label>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="button" onclick="User.login()">Sign in</button>
</form>
