<div role="navigation" class="navbar navbar-default navbar-static-top topnav">
	<div class="container">
		<div class="navbar-header hidden-xs">

			<a href="/" class="navbar-brand">
				<img src="{{var.static_url ~ "images/logo.png"}}" alt="Dlang China" />
			</a>
		</div>
		<div id="top-navbar-collapse" class="navbar-collapse">
			<ul class="nav navbar-nav">
				<li class=""><a href="/questions/all/1">社区</a></li>
				</li>
			</ul>

			<div class="navbar-right">
				<ul class="nav navbar-nav github-login" >
					{{var.loginStatus}}
				</ul>
			</div>
		</div>

	</div>
</div>
