<footer class="footer">
<div class="container">
	<div class="row footer-top">

		<div class="col-sm-6 col-lg-6 col-lg-offset-1">

			<div class="row">

				<div class="col-sm-4 footer-col">
					<h4>统计信息</h4>
					<ul class="list-unstyled">
						{% import app.common; %}
						<li>社区会员: {{ FurlHelper.allUserCount }} </li>
						<li>主题数: {{ FurlHelper.allQuestionsCount }} </li>
						<li>评论数: {{ FurlHelper.allAnswersCount }} </li>
					</ul>
				</div>
				<div class="col-sm-4 footer-col">
					<h4>其他信息</h4>
					<ul class="list-unstyled">
						<li><a href="/about"><i class="fa fa-info-circle" aria-hidden="true"></i> 关于我们</a></li>
						<li><a href="/help"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 技术合作</a></li>
					</ul>
				</div>

			</div>

		</div>
	</div>
	<br>
	<br>
</div>
</footer>
