<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ var.title }}</title>
    <meta name="description" content="{{ var.description }}">
    <meta name="keywords" content="{{ var.keywords }}">                            
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ var.static_url }}css/main.css" type="text/css" rel="stylesheet"/>
	<link href="{{ var.static_url }}lib/uploadify/uploadify.css" rel="stylesheet">
	<link href="{{ var.static_url }}css/wbbtheme.css" rel="stylesheet">
</head>
