<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element"> <span>
						<img alt="image" class="img-circle" src="http://img.ripppple.com/2014/07/03/14043556296944/140435562969443116_big.jpg" width="80px" height="80px" />
					</span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{var.username}}</strong>
							</span> <span class="text-muted text-xs block">Dlang development <b class="caret"></b></span> </span> </a>
							<ul class="dropdown-menu animated fadeInRight m-t-xs">
								<li><a href="/show">profile</a></li>
								<li class="divider"></li>
								<li><a href="/logout">退出</a></li>
							</ul>
				</div>
				<div class="logo-element">
					PT+
				</div>
			</li>
		</ul>
	</div>
</nav>

