<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UAS</title>
    <link href="/wwwroot/css/sweetalert.css" rel="stylesheet">
    <link href="/wwwroot/css/userCenter.css" rel="stylesheet">
</head>
<body class="with-navbar">
<div id="spark-app">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Collapsed Hamburger -->
                <div class="hamburger">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#spark-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Branding Image -->
                <a class="navbar-brand" href="login.html">UAS</a>
            </div>
            <div class="collapse navbar-collapse" id="spark-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">&nbsp</ul>
                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login.html" class="navbar-link">Login</a></li>
                    <li><a href="register.html" class="navbar-link">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main Content -->
    <div>
        <div>
            <div class="spark-screen container">
                <!-- Common Register Form Contents -->

                <!-- Basic Profile -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading"><span>Register</span></div>
                            <div class="panel-body">
                                <!-- Registration Form -->
                                <form class="form-horizontal" role="form" method="POST" action="/login">
                                    <input type="hidden" id="service" name="service" value="{{service}}">
                                    <input type="hidden" id="callback" name="callback" value="{{callback}}">
                                    <!-- Name -->
                                    <!--<div class="form-group" :class="{'has-error': registerForm.errors.has('name')}">-->
                                    <div class="form-group has-error">
                                        <label class="col-md-4 control-label">Name</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="username" autofocus>
                                            <span class="help-block">用户名错误</span>
                                        </div>
                                    </div>
                                    <!-- E-Mail Address -->
                                    <!--<div class="form-group">-->
                                    <div class="form-group has-error">
                                        <label class="col-md-4 control-label">E-Mail Address</label>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control" name="email">
                                            <span class="help-block">邮箱错误</span>
                                        </div>
                                    </div>
                                    <!-- Password -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Password</label>
                                        <div class="col-md-6">
                                            <input type="password" class="form-control" name="password">
                                            <span class="help-block">密码未填写</span>
                                        </div>
                                    </div>
                                    <!-- Password Confirmation -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Confirm Password</label>
                                        <div class="col-md-6">
                                            <input type="password" class="form-control" name="repassword">
                                            <span class="help-block">两次用户名不一致</span>
                                        </div>
                                    </div>

                                    <!-- Terms And Conditions -->
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="terms">
                                                    I Accept The
                                                    <a href="terms.html" target="_blank">Terms Of Service</a>
                                                    and
                                                    <a href="privacy.html" target="_blank">Privacy Policy</a>
                                                </label>
                                                <span class="help-block">请同意勾选</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-4">
                                            <button class="btn btn-primary" type="submit">
                                                <span>
                                                    <i class="fa fa-btn fa-check-circle"></i>Register
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Application Level Modals -->


</div>

<!-- JavaScript -->
<!--<script src="js/common.js"></script>-->
<!--<script src="js/sweetalert.min.js"></script>-->
<script src="/wwwroot/js/jquery-3.3.1.js"></script>
<script src="/wwwroot/js/bootstrap.js"></script>

</body>
</html>
